{% extends 'main.html.twig' %}

{% block title %}{{ trailer.title }}{% endblock %}

{% block content %}
    <div class="container">
        <a href="/">Back</a>
        {% if trailer %}
            <h1 class="mt-5 mb-4">{{ trailer.title }}</h1>
            <table class="table table-bordered">
                <tr>
                    <td><img src="{{ trailer.image }}"></td>
                    <td><b>{{ trailer.title }}</b><br>{{ trailer.description }}</td>
                    <td><a href="{{ trailer.link }}" target="_blank">Trailer</a></td>
                    <td><a class="favorite {{ trailer.favorite ? 'fav' : '' }}" href="/favorite" data-id="{{ trailer.id }}">Нравится</a></td>
                </tr>
            </table>
        {% else %}
            <h1 class="mt-5 mb-4">{{ error }}</h1>
        {% endif %}
    </div>
{% endblock %}

